<h2 class="mt-5 mb-4">Login</h2>
<% if (errorMessage) { errorMessage.forEach(function(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
        
    </div>  
<% });} %>
<form action="/login" method="POST">
 

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
  </div>

  <div class="mb-3">
    <label for="id" class="form-label">Password</label>
    <input type="password" class="form-control" id="id" name="password" placeholder="Enter your Password">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
